*.gcda
*.o
.deps
/ChangeLog
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/INSTALL
/TAGS
/config.guess
/config.sub
/configure.ac
/debian/changelog
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
depcomp
gpicker
gpicker-simple
install-sh
missing
scorer-tests
stamp-h1
