*.o
.deps
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
depcomp
filechooser
install-sh
missing
scorer-tests
stamp-h1
